*{
	border:none;
	margin:0;
	padding:0
}

body{
	background:#aaaaaa;
	color:#000000;
	font:12.35px "Lucida Grande",Georgia,Arial,Verdana;	
}


a:link{	
	color:#0054a6;
	text-decoration:none;
}


h1{
	font-size:20px;
	margin-bottom:20px
}

 
#wrap{
	margin:10px auto;
	width:900px
}

#header{
	margin-bottom:20px
}


#ddmenu{
	background:url(../images/menubg.gif) repeat-x;
	margin:0;
	padding:0;
	height:43px;
	width:700px;
}



#ddmenu li{
	float:left;
	list-style:none;
	font:11px Tahoma,Arial;
}


#ddmenu li a{
	background:url(../images/top-dotted.gif) right no-repeat;
	display:block;
	padding:5px 12px;
	text-decoration:none;
	width:70px;
	color:#ffffff;
	text-transform:uppercase;
	white-space:nowrap;
	text-align:center;
}


#ddmenu li a:hover{
	background:#000 url(../images/top-dotted.gif) right no-repeat;
}


#ddmenu li ul{
	margin:3px 0 0 10px;
	padding:0;
	position:absolute;
	visibility:hidden;
	width:600px;
}


#ddmenu li ul li{
	display:inline;
}


#ddmenu li ul li a{
	width:auto;
	background:url(../images/bottom-dotted.gif) right no-repeat;
	display:inline;
	color:#d9d9d9;
	font-size:10px;
	padding:3px 10px;
}


#ddmenu li ul li a:hover{
	background:#000 url(../images/bottom-dotted.gif) right no-repeat;
	padding:3px 10px;
}

 



